build/
dev/
dist/

# Python
venv/
*.py[co]
*/__pycache__/
**/__pycache__/
*.egg-info/

# IDE
.idea/

# tox
.hypothesis/
.pytest_cache/
.tox/
coverage_html/
.coverage
coverage.xml

# Myr
pauperformance_bot/secrets.py
pauperformance_bot/task/devel.py
