# {{ name }}

**Aliases**: {{ aliases | map('tagify') | join(', ') }}

**Dominant mana**: {{ mana | map('to_archetype_page_mana') | join(' ') }}

**Type**: {{ type | map('tagify') | join('/') }}

**Description**: {{ description }}

## **Staples**

{% for staple in staples -%}
[<img src="{{ staple.image_url }}" width="300"/>]({{ staple.page_url }})
{% endfor %}

## **Frequent cards**

{% for frequent in frequents -%}
[<img src="{{ frequent.image_url }}" width="300"/>]({{ frequent.page_url }})
{% endfor %}

## **Decks**

| Name | Upload date | Set name | Set date | Legal |
| -----| ----------- | -------- | -------- | ----- |
{% for deck in decks -%}
| [{{ deck.p12e_name }}]({{ deck.url }}) | {{ simple_str(deck.creation_date) }} | {{ deck.set_name }} | {{ deck.set_date }} | {{ deck.legality }} |
{% endfor %}

{% if resources %}
## **Resources**

| 🗣️ | Name | Author | Date |
| -- | ---- | ------ | ---- |
{% for resource in resources -%}
| {{ resource.language }} | [{{ resource.name }}]({{ resource.url }}) | {{ resource.author }} | {{ "%-12s" % resource.date }} |
{% endfor %}
{% endif %}
