# {{ name }}

**Description**: {{ description }}

## **Archetypes**

{% for archetype in archetypes -%}
[{{ archetype.name }}](../{{ archetypes_dir }}/{{ to_url_encoded(archetype.name) }}.html)  
{% endfor %}

