dropbox==12.0.2
pyquery
requests
retrying
argcomplete
scipy
twitchAPI==2.5.5  # v3.10.0+ requires additional work
python-youtube
discord.py==1.7.3  # v2+ requires additional work
beautifulsoup4
jsonpickle
Deprecated
seaborn
tenacity
cloudscraper
gunicorn
# stone==3.3.8  # v3.3.9 requires Jinja2 too new
