-r requirements.in

ddt
flake8
pytest
pytest-xdist
pytest-cov
tox==3.25.0  # pulls chardet>=5.1, conflicting with discord
black
isort
mypy
types-requests
types-backports
types-cachetools
types-pytz
types-setuptools
types-ujson
pylint
